// Light theme colors
$light-default-black: #313131;
$light-title-color: $light-default-black;
$light-input-text-color: #aaa;

// Light theme colors
$dark-default-black: #ffffff;
$dark-title-color: $dark-default-black;
$dark-input-text-color: #aaa;


// Backgrounds
$dark-used-background: #000;
$light-used-background: lightblue;