@import '../utils/variables';

#dark {
    background-color: $dark-used-background;

    .container {
        background-color: $dark-used-background;
    }

    .form {
        background-color: $light-default-black;
    }

    h1 {
        color: $dark-title-color;
    }

    fieldset {
        legend {
            color: $dark-default-black;
        }
        input {
            background-color: transparent;
            color: $dark-input-text-color;
            border-bottom-color: $dark-input-text-color;
        }
    }

    .forgot-password {
        a {
            color: $dark-title-color;

        }
    }
    
    .submit {
        .btn {
            background-image: linear-gradient(
                to right,
                #ECE9E6 0%,
                #FFFFFF  51%,
                #ECE9E6  100%
            );
            color: $light-default-black;
            
            &:hover {
                color: $light-default-black;
            }
          }
    }
}